*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* border: 5px solid red; */
}

/* Nav Bar */
.nav-wrapper{
    width: 100%;
    height: 30px;
    background: black;

}
.nav-wrapper ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-wrapper ul li{
    /*margin-top: 15px;*/
}
.nav-wrapper ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;    
}
/* Header */
.header-wrapper{
    width: 100%;
    height: 150px;
    background-color: gray;
}
.row{
    display: flex;
    width: 90%;
    margin-left: 5%;
}
.col:first-child{
    width: 40%;
    margin-top: 10px;
}
.col:last-child{
    width: 60%;
    height: 100px;
}
.search{
    float: right;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    display: flex;
    color: white;
}
.search span{
    text-align: center;
    background-color: black;
    width: 50px;
}
.search span i{
    align-items: center;
    margin-top: 5px;
}

}
.nav-bar{
    width:100%;
    height: 100px;
    margin-top: 73px;
}
.nav-bar ul{
    width: 100%;
    margin-left: 65px;
}
.nav-bar ul li{
    display: inline-block;
    list-style: none;
}
.nav-bar ul li button {
    text-decoration: none;
    padding: 10px 20px;
    background: white;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    margin-top: 115px;
    border: 1px;
}
.nav-bar ul li button:active{
    background: linear-gradient(180deg, orange, yellow);
}
.nav-bar ul li button:hover{
    background: linear-gradient(180deg, orange, yellow);
}

/* services-wrapper */
.services-wrapper{
    width: 100%;
    height: 350px;
    background: linear-gradient(180deg, orange, rgb(255, 153, 0));
    /* display: flex; */
}
.col{
    width: 40%;
}
.services{
    margin-top: 23px;
    width: 300px;
    height: 290px;
    background-image: url(abstract-1780311_960_720.jpg);
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    border-radius: 20%;
    font-size: 30px;
}
.services .row span input{
    margin: 20px;       
}
.services .row p{
    color: white;
    margin-top:17px ;
    font-size: 18px;
}
.para{
    width: 80%;
    margin-left: 10%;
    color: white;
    font-size: 18px;
}

.col-1{
    width: 70%;
    margin-left: 5%;
    margin-top: 10px;
    height: 300px;
}
.col-1 p, .col-1 h1 , .col-1 a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 17px;
}
.col-1 h1{
    font-size: 32px;
    text-align: center;
}
.col-1 p{
    word-spacing: 5px;
}
.col-1 .read{
    text-align: end;
}
.col-1 a{
    font-size: 22px;
}


/* welcome-wrapper */
.welcome-wrapper{
    width: 100%;
    height: auto;
    background: whitesmoke;
    
}
.welcome-wrapper .row{
    display: flex;
}
.welcome-wrapper .row .col-2{
    width: 75%;
    height: auto;
    }
.col-2 h1{
    font-size: 32px;
}
.col-3{
    width: 40%;
    height: auto;
    /*margin-left:4%;*/
}
.col-3 h1{
    margin-left: 10%;
    font-size: 32px;
}
.projects{
    border: 1px solid darkred;
    width: 100%;
    margin-left: 10%;
    margin-top:20px;
    background: linear-gradient(180deg, orange, rgb(255, 153, 0));
}
.projects img{
    margin-left: 10%;
    margin-top: 20px;
}



footer{
    background-color: black;
    height: 110px;
    width: 100%;
    color: white;
}
footer ul {
    color: white;
    display: flex;
    font-size: 31px;
    padding-left: 425px;
}
footer ul li{
    text-align: center;
    list-style: none;
}
footer ul li a{
    color: white;
    text-decoration: none;  
}
footer .m1 {
    padding-left: 190px;
    font-size: 25px;
}
.copy{
    font-size: 20px;
    text-align: center;
    color: gray;
}
